:root{
    --cardGap: calc(1vw + 1.6rem);
    --cardHeadingFontSize: calc(1vw + 1rem);
    --cardTextSize: calc(0.5vw + 0.8rem);
    --cardTextGap: calc(0.2vw + 0.5rem);
    --cardPadding: calc(0.5vw + 0.5rem);
    --cardItemPadding: calc(1vw + 0.2rem);
}
.UserDetail-wrapper {
    background-color: #e5e5e7;
    color: black;
    display: flex;
    flex-direction: column;
    gap: var(--cardGap);
    padding: var(--cardPadding) ;
    box-shadow: -3px 3px 6px 2px rgba(95, 95, 95, 0.397);
    border-radius: 8%;
}
.userCard-heading {
    text-align: center;
    font-size: var(--cardHeadingFontSize);
    text-shadow: 2px 2px 5px #080808bf, -2px -3px 1px white;
    text-decoration: underline;
}
.user-card {
    display: flex;
    flex-direction: column;
    gap: var(--cardTextGap);
}
.user-id, .user-name, .user-email, .user-companyName {
    display: flex;
    flex-direction: row;
    align-items: center;
}